<div class="container user_con">
    <div class="row">
        <!--左边-->
        <div class="col-sm-3 uer_pa">
            <div class="user_left">
                <!-- <div class="user_drop_team">
                    <p>团队管理<span class="glyphicon glyphicon-menu-down user_icon"></span></p>
                </div>
                <div class="user_drop_team_list">
                    <a title="members">注册会员</a>
                    <a title="hre">注册链接</a>
                </div> -->
                <!--<div class="user_ge"></div>-->
                <div class="user_drop_person">
                    <p>个人资料<span class="glyphicon glyphicon-menu-down user_icon"></span></p>
                </div>
                <div class="user_drop_person_list">
                    <a id="one" href="{:U('User/personal')}" title="">个人信息</a>
                    <a id="two" href="{:U('User/mpassword')}" title="">修改密码</a>
                    <a id="three" href="{:U('UserMoney/projectTrans')}" title="">账号互转</a>
                    <a id="four" href="{:U('User/tuijian')}" title="">团队管理</a>
                    <a id="five" href="{:U('Finance/index')}" title="">财务日志</a>
                    <!-- <a id="eight" href="{:U('UserMoney/zhuanhuan')}" title="">资金转换</a>-->
                    <!-- <a title="Daddress">收获地址</a>
 -->                </div>
               <div class="user_drop_person gai">
                    <p>交易平台账户<span class="glyphicon glyphicon-menu-down user_icon"></span></p>
                </div>
                <div class="user_drop_person_list gai_list">
                    <a id="six" href="{:U('Pay/bpay')}" title="">充币</a>
                    <a id="seven" href="{:U('Pay/tcoin')}" title="">提币</a>
                    <!--<a href="{:U('User/mpassword')}" title="">修改密码</a>-->
                    <!-- <a title="moneyaddre">钱包地址</a> -->
                    <!--<a id="nine" href="{:U('Order/index')}" title="">商城订单</a>-->
                    <!--<a  id="ten" href="{:U('User/getProject')}" title="">我的订单</a>-->
                    <!-- <a title="Daddress">收获地址</a>
 -->                </div>
            </div>
        </div>