<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>对不起，网站停站中</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="/Public/Home/css/basev2.css">
<style>
body { background:url(http://img.kuai.xunlei.com/img/v2/log_bg.jpg) repeat; }
</style>
</head>
<body>
<div style="text-align:center;padding-top:400px;font-size:30px">股票售罄，请等候开站···</div>

</body></html>