<div class="member_two">
    <div>
        <div>
            <div class="register_title">收&nbsp;&nbsp;获&nbsp;&nbsp;地&nbsp;&nbsp;址</div>
            <div class="container-fluid daddress_con">
                <!--循环地址-->
                <div class="row daddress_dr">
                    <div class="col-xs-8">地址一</div>
                    <div class="col-xs-2">
                        <div class="daddress_fal">
                            设为默认
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="daddress_del">
                            删除地址
                        </div>
                    </div>
                </div>
                <div class="row daddress_dr">
                    <div class="col-xs-8">地址一</div>
                    <div class="col-xs-2">
                        <div class="daddress_fal">
                            设为默认
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="daddress_del">
                            删除地址
                        </div>
                    </div>
                </div>
                <!--循环地址-->
            </div>
            <div class="register_title">新&nbsp;&nbsp;增&nbsp;&nbsp;地&nbsp;&nbsp;址</div>
            <form class="form-horizontal register_form">
                <div class="form-group mt-10">
                    <label for="inputEmail3" class="col-sm-3 control-label tl">详细地址</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="请输入详细地址">
                    </div>
                </div>
                <div class="form-group" style="text-align: center;">
                    <input type="button" class="col-sm-offset-1 col-sm-9 index_login_btn" value="添加" style="font-size: 18px; margin-top: 15px;">
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>