
<div class="deal_con">
    <ul class="list-group">
        <li class="list-group-item deal_one">交易记录</li>
        <li class="list-group-item">订单信息<span class="deal_stats">交易状态</span></li>
        <li class="list-group-item">订单信息<span class="deal_stats">交易状态</span></li>
        <li class="list-group-item">订单信息<span class="deal_stats">交易状态</span></li>
        <li class="list-group-item">订单信息<span class="deal_stats">交易状态</span></li>
        <li class="list-group-item">订单信息<span class="deal_stats">交易状态</span></li>
    </ul>
</div>