<include file="App/Home/View/Public/header.html" />
<include file="App/Home/View/Public/left.html" />
<script src="__PUBLIC__/Home/js/User_js.js"></script>
<script src="__PUBLIC__/Home/js/clipboard.min.js"></script>
<script type="text/javascript">
    $('.treenew li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    function getsuser(ob) {
        //alert($(ob).parent().attr("path"));
        
        if($(ob).children('#adimg').attr('src') == "__PUBLIC__/Admin/images/add.png"){
            $(ob).children('#adimg').attr('src',"__PUBLIC__/Admin/images/minus.png")
            $(ob).children('#adimg').addClass("imgClass")
        }else{
            $(ob).children('#adimg').attr('src',"__PUBLIC__/Admin/images/add.png")
            $(ob).children('#adimg').addClass("imgClass")   
        }

        var children = $(ob).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(ob).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else if( $(ob).attr("index") == 1 ){
            children.show('fast');
            return false;
        }else {
            children.show('fast');
            $(ob).attr('index','1');
            var asd=$(ob).find("em").text();
            var path = $(ob).parent().attr("path");
            
            // alert(asd);
            var url = "{:U('User/getInivt')}"
            var ob = $(ob);
            var index = layer.load(1, {
            	  shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
            $.post(url,{'username':asd,'path':path},function(msg){
                if(msg.status==1){
                	layer.close(index);
                    if(msg.path==4){
                        ob.attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                        var str = "<ul>"
                        for(var i=0;i<msg.user.length;i++){
                            str += " <li class='parent_li' path='"+msg['path']+"' ><span class='tree' data-key='on'><img src='__PUBLIC__/Admin/images/head2.png' /><em class='account'>"+msg['user'][i]['username']+"</em>----真实姓名："+msg['user'][i]['real_name']+"----投资金额："+msg['user'][i]['touzi_money']+" ---- 注册日期："+msg['user'][i]['add_time']+"</span></li>";
                        }
                        str += "</ul>";
                        ob.after(str);
                    }else{
                        ob.attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                        var str = "<ul>"
                        for(var i=0;i<msg.user.length;i++){
                            str += " <li class='parent_li' path='"+msg['path']+"' ><span class='tree' onclick='getsuser(this);'  data-key='on'><img src='__PUBLIC__/Admin/images/add.png' id='adimg'/><img src='__PUBLIC__/Admin/images/head2.png' /><em class='account'>"+msg['user'][i]['username']+"</em> ----真实姓名："+msg['user'][i]['real_name']+"----投资金额："+msg['user'][i]['touzi_money']+" ---- 注册日期："+msg['user'][i]['add_time']+"</span></li>";
                        }
                        str += "</ul>";
                        ob.after(str);
                    }
                }else{
                	layer.close(index);
                    layer.msg('无下线会员');
                }
            })

        }
        // $(ob).stopPropagation();
    }

</script>
<style>
    .icon1{width:20px !important;
        height:20px !important;
        background-image:url(/Public/Admin/images/add.png);
        background-repeat:no-repeat;
        background-position:center;
        float:left;
        line-height: 35px;
        margin-top:6px;
    }
    .icon2{width:20px !important;
        height:20px !important;
        background-image:url(/Public/Admin/images/reduce.png);
        background-repeat:no-repeat;
        background-position:center;
        float:left;
        line-height: 35px;
        margin-top:6px;
    }
    .tree{ cursor:pointer;}
    .td{ height:35px; line-height:35px; text-align:left; padding-left:100px}
    .treenew {
        min-height:20px;
        padding:19px;
        margin-bottom:20px;
        background-color:#fbfbfb;
        border:1px solid #ccc;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
    }
    .treenew li {
        list-style-type:none;
        margin:0;
        padding:10px 5px 0 5px;
        position:relative
    }
    .treenew li::before, .treenew li::after {
        content:'';
        left:-20px;
        position:absolute;
        right:auto
    }
    .treenew li::before {
        border-left:1px solid #999;
        bottom:50px;
        height:100%;
        top:0;
        width:1px
    }
    .treenew li::after {
        border-top:1px solid #999;
        height:20px;
        top:25px;
        width:25px
    }
    .treenew li span {
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border:1px solid #999;
        border-radius:5px;
        display:inline-block;
        padding:3px 8px;
        text-decoration:none
    }
.treenew li span img {
        width:16px;
        height:16px;
    }
    .treenew li.parent_li>span {
        cursor:pointer
    }
    .treenew>ul>li::before, .treenew>ul>li::after {
        border:0
    }
    .treenew li:last-child::before {
        height:25px
    }
    .treenew li.parent_li>span:hover, .treenew li.parent_li>span:hover+ul li span {
        background:#eee;
        border:1px solid #94a0b4;
        color:#000
    }
    .treenew ul{
        display: block;
        list-style-type: disc;
    //-webkit-margin-before: 1em;
    //-webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
    .sp_n{
        padding: 0;
        height: 35px;
        line-height: 35px;
    }
    @media screen and (min-width:768px) {
        .con{height: 70px;}
    }
</style>
<div class="col-sm-9 uer_pa" id="con">
            <div class="member_con">
                <div class="">
                    <div class="deal_con">
                        <div class="head">
                            <div class="headBox">
                                <a class="backIcon" href="javascript:history.go(-1)"></a>
                                <h3>我的团队</h3>
                                <!--<a class="searchIcon deleteIcon"></a>-->
                            </div>
                        </div>
        				<div class="page-heading">
        					<i class="fa fa-bar-chart-o"></i> 
        				</div>
				<br>
				<br>
<div>
    <div class="page-content">

        <div class="container-fluid">
            
            <div class="row-fluid" style=" width: 100%; margin: 0 auto;">
				<div class="user_right_head">
					<div class="col-sm-6 col-xs-12 tc">
						<p class="user_right_head_name mt-50">{$user.username|default="未设置"}</p>
						<p class="user_right_head_username mt-50">No.{$user.uid}</p>
					</div>
					<!--<div class="col-sm-7 col-xs-12 user_right_head_xy">
						<div class=" col-xs-6 col-sm-12 col-md-4" style="padding:0 5px">
							<p>邀请链接: <span>{$link}</span></p>
						</div>
					</div>-->
					<div class="col-sm-6 col-xs-12 tc">
						<h4>邀请二维码: </h4>
						<span><img src="http://pan.baidu.com/share/qrcode?url=http://{$link}" style="width:100px; height:100px;"/></span>
					</div>
					<div class="col-sm-12 col-xs-12">
							复制以下链接发送给您的好友：
							<textarea name="url" id="url" class="col-md-9 col-xs-12" style="max-height:46px;">{$link}</textarea>
							<input type="hidden" value="3859" id="user_key_id">
                            <input type="hidden" value="www.ybb.com" id="server_name">
							<div class="col-sm-3">
								<input type="button" name="" value="复制链接" class="user_ge_xiu"style="height:46px; line-height:46px;" id="copy" data-clipboard-action="copy" data-clipboard-target="#url"/>
							</div>
					</div>
				</div>
                <div class="span12">
                    <div class="portlet box">
						<div class="user_right_con">
							<div class="col-sm-3 col-xs-6">
								<p class="user_right_con_it">团队业绩</p>
								<p class="user_right_con_p">{$user.yeji|default="0"}</p>
							</div>
							<div class="col-sm-3 col-xs-6">
								<p class="user_right_con_it">每日新增业绩</p>
								<p class="user_right_con_p">{$user.yeji_new|default="0"}</p>
							</div>
							<div class="col-sm-3 col-xs-6">
								<p class="user_right_con_it">直推人数</p>
								<p class="user_right_con_p ">{$user.p_num|default="0"}</p>
							</div>
							<div class="col-sm-3 col-xs-6">
								<p class="user_right_con_it">总人数</p>
								<p class="user_right_con_p">{$user.team_num|default="0"}</p>
							</div>
						</div>
                    </div>
                </div><!-- End span12 -->

            </div> <!-- End Row Fluid -->


        </div><!-- End span12 -->
    </div>
</div>

<div>
	<div class="page-content">

        <div class="container-fluid">
            
            <div class="row-fluid" style=" width: 100%; margin: 0 auto;">
                <div class="span12">
                    <div class="portlet box">

                        <div class="portlet-body">

                            <!-- BEGIN xipu-->
                            <div class="result-wrap">
                                <div class="treenew well">
                                    <ul>
                                        <li class="parent_li" path="1">
                                        <span class="tree" onclick="getsuser(this);" data-key="on">
                                        <img style="width:16px;height:16px;" src="__PUBLIC__/Admin/images/add.png" id="adimg"/><img style="width:16px;height:16px;"  src="__PUBLIC__/Admin/images/head2.png" /><em class="account">{$user.username}</em> 
										----真实姓名：{$user.real_name|default='暂无'}
										----投资金额：{$user.touzi_money|default='0'}
										---- 注册日期：{$user.add_time|date="Y-m-d H:i:s",###}
                                        </span>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END xipu-->

                        </div>
                    </div>
                </div><!-- End span12 -->

            </div> <!-- End Row Fluid -->


        </div><!-- End span12 -->
    </div>
</div>

                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<script>
		var clipboard = new Clipboard('#copy');
		clipboard.on('success', function(e) {
			console.log(e);
			alert("已复制");
			//$(".cpypt").show();
			//setTimeout(function(){$(".cpypt").hide();},1000);
		});

		clipboard.on('error', function(e) {
			console.log(e);
			alert("浏览器不支持直接复制，请选定连接后，ctrl+c复制");
		});

</script>
<include file="App/Home/View/Public/footer.html" />
