<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>添加会员 </title>
    <bootstrapcss />
    <icheckcss />
</head>
<body>
<!-- 导航栏开始 -->
<div class="bjy-admin-nav">
    <i class="fa fa-home"></i> 首页
    &gt;
    数据控制
</div>
<!-- 导航栏结束 -->
<ul id="myTab" class="nav nav-tabs">
   <li class="active">
        <a href="">数据控制设置</a>
    </li>
</ul>
<div style=" margin-top:20px; width:830px;  margin-left:20px; border:2px solid #333;">
	<div style="width:400px; float:left;">
    	<div style="width:100%; height:185px;"></div>
        <div style="width:100%;height:185px; border-top:2px solid #333"></div>
    </div>
    <div style="float:left; border-left:2px solid #333; padding:20px 20px;">
    	<div style="padding:0 80px;">
        	<p style="background-color:#333; font-size:32px; color:#fff; padding:10px 43px;">660.234</p>
        </div>
        <div style="padding:0 80px; margin-top:80px;">
        	<button type="button" style="background-color:#fff;border:2px solid #333;font-size:32px;padding:10px 43px;">660.234</button>
        </div>
        <div style="margin-top:80px;padding:0 40px;">
        	<a href="#"><img style="width:130px;" src="__PUBLIC__/Home/img/A_top_img.png"></a>
            <a href="#"><img style="width:130px; margin-left:30px;" src="__PUBLIC__/Home/img/A_bottom_img.png"></a>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
</body>
</html>
