
				<!-- page heading start-->
				<include file="App/Home/View/Public/left.html" />
				      <script src="__PUBLIC__/js/jquery-1.8.3.min.js"> </script>
<script>
 $(document).ready(function(){
$(".nav-nav").eq(4).addClass("nav-active")
});
</script>
				<div class="page-heading">
					<i class="fa fa-bar-chart-o"></i> 主菜单
				</div>
				<!-- page heading end-->

				<!--body wrapper start-->

				<div class="wrapper">
					<section class="panel">
						<!--主体开始-->

						<section style="padding: 28px;">

							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">下载中心列表</h3>
										</div>
										<div class="widget-body innerAll overthrow" style="padding: 20px;overflow: auto;">
											<table class="table table-bordered table-primary">
												<thead>
													<tr class="tac">
														<th>标题</th>
														<th>时间</th>
													</tr>
												</thead>
												<tbody>
													<foreach name="list" item="vo">
														<tr class="tac">
															<td><a href="{:U('Art/downDetails',array('id'=>$vo['id']))}">{$vo.title}</a></td>
															<td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
														</tr>
													</foreach>
												</tbody>

											</table>
											<div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
											</div>
										</div>
									</div>
								</div>
							</div>

						</section>

						<!--./主体开始-->
					</section>
				</div>
<include file="App/Home/View/Public/footer.html" />
				<!--body wrapper end-->
				<!--------------------------------------------------分割线  主体内容  结束--------------------------------->
			
				<!---------------------------footer引入位置--------------------------->
			
