

				<!-- page heading start-->
		<include file="App/Home/View/Public/left.html" />
				      <script src="__PUBLIC__/js1/jquery-1.8.3.min.js"> </script>
<script>
 $(document).ready(function(){
$(".nav-nav").eq(4).addClass("nav-active")
});
</script>
				<div class="page-heading">
					<i class="fa fa-bar-chart-o"></i> 主菜单
				</div>
				<!-- page heading end-->

				<!--body wrapper start-->

				<div class="wrapper">
					<section class="panel">
						<!--主体开始-->

						<section style="padding: 28px;">

							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title"> 下载中心</h3>
										</div>

										<div class="widget" style="padding: 20px;">

											<div class="widget-head">
												<h4 class="heading">{$list.title}</h4>
											</div>
											<div class="widget-body margin-none">
								
													<div class='media-body innerAnnounce'>
														<div class='readMore'>
                                                    	{$list.content}
															<p style="margin-right: 20px;" class='text-muted'>
																{$list.add_time|date="Y年m月d日",###}
															</p>
															<p class='margin-none'>
															
															</p>
														</div>
													</div>
											</div>
											<footer class="data-footer innerAll half text-right clearfix">
												<div class="pull-left" style="height:45px; margin:10px 0;" class="col-md-3">
												<button type="submit" onclick ="javascript:history.go(-1)" class="btn btn-primary" >返回</button>
													<!-- <a href="javascript:history.go(-1)" class="btn btn-inverse btn-sm">返回</a> -->
												</div>
												<div class="custom-pagi pull-right">
												</div>
											</footer>
										</div>

									</div>
								</div>
							</div>

						</section>

						<!--./主体开始-->
					</section>
				</div>
	<include file="App/Home/View/Public/footer.html" />
				<!--body wrapper end-->
				<!--------------------------------------------------分割线  主体内容  结束--------------------------------->
	
				<!---------------------------footer引入位置--------------------------->
	