
				<!-- page heading start-->
				<include file="App/Home/View/Public/left.html" />
				      <script src="__PUBLIC__/js/jquery-1.8.3.min.js"> </script>
<script>
 $(document).ready(function(){
$(".nav-nav").eq(2).addClass("nav-active")
});
</script>
				<div class="page-heading">
					<i class="fa fa-bar-chart-o"></i> 主菜单
				</div>
				<!-- page heading end-->

				<!--body wrapper start-->

				<div class="wrapper">
					<section class="panel">
						<!--主体开始-->

						<section style="padding: 28px;">

							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">财务日志</h3>
										</div>
										<form action="{:U('Finance/getFinance',array('type'=>$type))}" method='post' class="search3">
										<div style="margin-top:10px;">
										<div style="height:35px; margin:10px 0 0 20px;" class="search">
										
										<select name = 'search'>
										<option value= '{$type}'  >全部</option>
										<volist name='select' id='se'>
										<option value='{$se.id}' <eq name='Think.post.search' value="$se.id">selected</eq> >
										{$se.type}
										</option>
										</volist>
										</select>
										</div>
										<!-- <input type='hidden' name='type' value={$type}/> -->
										<div style="height:35px; margin:7px 0 0 20px;" class="search2"><button type="submit" class="btn btn-primary" >搜索</button></div>
										
										<span class="search1"><eq name='type' value="1">我的交易点:{$money}</eq></span>
										</div>
										</form>
										<div class="widget-body innerAll overthrow col-md-12" style="padding: 20px;overflow: auto;">
											<table class="table table-bordered table-primary">
												<thead>
													<tr class="tac">
														<th>类型</th>
													   <th>收支</th>
													   <th>数量</th>
													   <th>内容</th>
													   <th>用户资金类型</th>
														<th>时间</th>
														<!-- <th>操作</th> -->
										
													</tr>
												</thead>
												<tbody>
													<foreach name="list" item="vo">
														<tr class="tac">
															<td>[ {$vo.type_name} ]</td>
															<td>{$vo.sz_type_name}</td>
															<td>{$vo.money}</td>
															<td>{$vo.content}</td>
															<td>{$vo.money_type_name}</td>
															<td>{$vo.add_time|date="Y-m-d,H:i:s",###}</td>
												
															<!-- <td><a href="{:U('Finance/toView',array('id'=>$vo['id']))}">查看</a></td> -->
														</tr>
													</foreach>
												</tbody>

											</table>
											<div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
												{$page}
											</div>
										</div>
									</div>
								</div>
							</div>

						</section>

						<!--./主体开始-->
					</section>
				</div>
					 <script>
	function search(){
		
		var all =$('#all').val();
		if(all ==9999){
			window.location.reload();
		}
	};
	</script>
<include file="App/Home/View/Public/footer.html" />


				<!--body wrapper end-->
				<!--------------------------------------------------分割线  主体内容  结束--------------------------------->
			
				<!---------------------------footer引入位置--------------------------->
			
