<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{$geshi}用户</title>
    <bootstrapcss />
    <icheckcss />
	<style>
		.form-control{
		min-width:500px
		}
	</style>
</head>
<body>

<!-- 导航栏开始 -->
<div class="bjy-admin-nav">
    <i class="fa fa-home"></i> 首页
    &gt;
    后台管理
    &gt;
    添加用户资料
</div>
<!-- 导航栏结束 -->
<ul id="myTab" class="nav nav-tabs">
   <li class="active">
        <a href="#">添加用户资料</a>
    </li>
</ul>
<form class="form-inline" method="post" action="{:U('User/addOutUser')}">
    <table class="table table-striped table-bordered table-hover table-condensed">
		<input type="hidden" name="id"  value="{$list['uid']}"  />
		<tr>
            <th>用户账号</th>
            <td>
                <input class="form-control" disabled type="text"  value="{$list['phone']}">
            </td>
        </tr>		
		<tr>
            <th>真实姓名</th> 
            <td> 
                <input class="form-control" disabled  type="text" name='real_name'  value="{$list['real_name']}"> 
             </td>
        </tr> 
        
        <!-- <tr> -->
            <!-- <th>手机号码</th> -->
            <!-- <td> -->
                <!-- <input class="form-control" disabled  type="text" name="phone"  value="{$list['phone']}"> -->
            <!-- </td> -->
        <!-- </tr> -->
		 <tr>
            <th>收件地址</th>
            <td>
                <input class="form-control" disabled type="text" name="weixin"  value="{$list['areaid1']}-{$list['areaid1']}-{$list['areaid1']}-{$list['address']}">
            </td>
        </tr>
		 <tr>
            <th>收件人</th>
            <td>
                <input class="form-control" disabled type="text" name="weixin"  value="{$list['addressee']}">
            </td>
        </tr>
		<tr>
            <th>收件人手机号</th>
            <td>
                <input class="form-control" disabled type="text" name="weixin"  value="{$list['addressee_phone']}">
            </td>
        </tr>
		<tr>
            <th>身份证号</th>
            <td>
                <input class="form-control" disabled type="text" name="idcard" value="{$list['idcard']}">
            </td>
        </tr>
		<tr>
            <th>云联惠ID</th>
            <td>
                <input class="form-control" disabled type="text" name="yunlianhui_id"  value="{$list['yunlianhui_id']}">
            </td>
        </tr>
		<tr>
            <th>云联惠手机号</th>
            <td>
                <input class="form-control" disabled type="text" name="yunlianhui_phone" value="{$list['yunlianhui_phone']}">
            </td>
        </tr>
		<tr>
            <th>推荐人</th>
            <td>
                <input class="form-control" disabled type="text" name="yunlianhui_phone" value="{$list['tuijian']}">
            </td>
        </tr>
		<tr>
            <th>推荐人姓名</th>
            <td>
                <input class="form-control" disabled type="text" name="yunlianhui_phone" value="{$list['tuijian_name']}">
            </td>
        </tr>
        <tr>
            <th>打款人</th>
            <td>
                <input class="form-control" disabled type="text" value="{$list['dakuanren']}">
            </td>
        </tr>
		<tr>
            <th>打款时间</th>
            <td>
                <input class="form-control" disabled type="text"  value="{$list['dakuan_time']}">
            </td>
        </tr>
        <volist name='pingzheng' id='vo'>
		<tr>
			<th>图片</th>
            <td>
            	<div class="field" id="preview">
                 <a target='_blank' href='{$vo.image}'><img style="width: 300px;height:150px;border: 1px solid;" src="{$vo.image}"></a>
                 </div>
            </td>
		</tr>
		</volist>
		<tr>
            <th></th>
            <td>
                
<a class="btn btn-success" href="javascript:history.back(-1)">点击返回</a>				
            </td>
        </tr>
		
    </table>
</form>
<bootstrapjs />
<icheckjs color="blue" />
<script type="text/javascript">    
 function preview(file)  
 {  
 var prevDiv = document.getElementById('preview');  
 if (file.files && file.files[0])  
 {  
 var reader = new FileReader();  
 reader.onload = function(evt){  
 prevDiv.innerHTML = '<img src="' + evt.target.result + '" />';  
}    
 reader.readAsDataURL(file.files[0]);  
}   
}
</script>
</body>
</html>