<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>修改用户</title>
    <bootstrapcss />
    <icheckcss />
</head>
<body>

<!-- 导航栏开始 -->
<div class="bjy-admin-nav">
    <i class="fa fa-home"></i> 首页
    &gt;
    后台管理
    &gt;
    修改用户
</div>
<!-- 导航栏结束 -->
<ul id="myTab" class="nav nav-tabs">
   <li>
         <a href="{:U('Admin/User/showUserList')}">用户列表</a>
   </li>
   <li class="active">
        <a href="#">{$but}用户</a>
    </li>
</ul>
<form class="form-inline" method="post" action="{:U('User/editUserNote')}">
    <table class="table table-striped table-bordered table-hover table-condensed">
		<input type="hidden" name="id"  value="{$list['id']}"  />
        <tr>
            <th>身份证号</th>
            <td>
                <input class="form-control" type="text" name="idcard" value="{$list['idcard']}">
            </td>
        </tr>
        <tr>
            <th>QQ</th>
            <td>
                <input class="form-control" type="text" name="qq" value="{$list['qq']}">
            </td>
        </tr>
        <tr>
            <th>微信</th>
            <td>
                <input class="form-control" type="text" name="weixin" value="{$list['weixin']}">
            </td>
        </tr>
        <tr>
            <th>国家</th>
            <td>
                <input class="form-control" type="text" name="country" value="{$list['country']}">
            </td>
        </tr>
        <tr>
            <th>邮编</th>
            <td>
                <input class="form-control" type="text" name="pc" value="{$list['pc']}">
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input class="btn btn-success" type="submit" onclick="javascript:return confirm('您确认要提交吗？');" value="{$but}">
            </td>
        </tr>
    </table>
</form>
<bootstrapjs />
<icheckjs color="blue" />
<!-- <script type="text/javascript">    
 function preview(file)  
 {  
 var prevDiv = document.getElementById('preview');  
 if (file.files && file.files[0])  
 {  
 var reader = new FileReader();  
 reader.onload = function(evt){  
 prevDiv.innerHTML = '<img src="' + evt.target.result + '" />';  
}    
 reader.readAsDataURL(file.files[0]);  
}   
}
</script> -->
</body>
</html>